// --------------------------------Cart Summary---------------------
// Table
table {
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    font-weight: bold;
    
    td {
        text-align: center;
    }

    thead {
        background-color: $fourth-color;

        th {        
            line-height: 2em;
            color: white;
            font-weight: bold;
            font-size: 1.3em;
        }

    }


    tbody tr:nth-child(odd) {
        background-color: $tertiary-color;
        border-radius: 0 0 15px 15px;
    }

    img {
        height: 100px;
        min-width: 100%;
        border-radius: $border-radius;
        object-fit: cover;
        margin-top: 5px;

        @media (max-width: $small-breakpoint) {
            display: none;
        }
    }
}

// Rounded corner table header
table th:first-child{
    border-radius:15px 0 0 0;
  }
  
table th:last-child{
    border-radius:0 15px 0 0;
}

.cart-summary {
    margin: auto;
    width: 80%;
    #product-recap {
        border-radius: $border-radius;
    }

    h1 {
        margin-top: 0;
    }
}

// Total Price
#cart-total {
    background-color: $fourth-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 15px 15px;
    p {
        margin: 0;
        font-size: 1.2em;
        //line-height: 2em;
        color: white;
        padding: 10px;
        span {
            font-weight: bold;
        }
    }
}

.fa-trash-alt {
    color: $fifth-color;
    cursor: pointer;
}

// ----------------------------------------Form--------------------------------------
.validation-form {
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-size: 1.2em;
        color: $primary-color;
    }

}

form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .validation-form__inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .validation-form__input {
            flex-basis: 46%;
            &:last-child{
                flex-grow: 1;
            }


            input {
                border-radius: 6px;
                border: 2px solid $fourth-color;
                width: 100%;
    
            }

        }

    }

    #submit-button{
        width: 47%;
        margin-top: 15px;
        background-color: $secondary-color;
        color: white;
        align-self: flex-start;
        border-radius: 6px !important;

        &:hover {
            background-color: white;
            color: $secondary-color;
            border: 2px solid $secondary-color;
        }

    }    

}

