@import "./variables";



#validation {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    text-align: center;

    span {
        font-weight: bold;
    }


    img {
        width: 80%;
        height: 400px;
        object-fit: cover;
        object-position: 50% 75%;
        border-radius: $border-radius;
    }
}

