@import "./variables";
//h1
h1 {
    justify-content: center;
    font-size: 3em;
}

//Product list
#product-list {
    margin-top: 30px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;    

    a {
        text-decoration: none;
        width: 45%;

    }
    @media (max-width: $mid-breakpoint) {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        a {
            width: 70%;
    
        }
        
    }
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    border: 5px solid $tertiary-color;
    border-radius: $border-radius;
    cursor: pointer;
    background-color: $tertiary-color;
    transition: box-shadow 1s;
    
    &:hover {
        box-shadow: grey 0px 5px 15px;
    }
    
    h2 {
        color: $primary-color;
    }

    p {
        text-align: center;
        padding: 0 10px;
    }

    img {
        height: 200px;
        width: 100%;
        border-radius: 0 0 15px 15px;
        background-clip: border-box;
        background-color: $fourth-color;
        object-fit: cover;
    }
    
}


