// Colors
$primary-color: #2f435e;
$secondary-color: #44566c;
$tertiary-color: #ececec;
$fourth-color: #4b5e65;
$fifth-color: #201b22;


// Border
$border : 5px solid $tertiary-color;
$border-radius: 15px;