// Colors
$primary-color: #2E4433;
$secondary-color: #386C5F;
$tertiary-color: #D3C686;
$fourth-color: #C0AA6F;
$fifth-color: #BA2E28;


// Border
$border-radius: 15px;

// BreakPoint for media queries
$small-breakpoint: 576px;
$mid-breakpoint: 768px;