/* Body */
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #696969;
}

/* Header */
header {
  background-image: url(../texture.JPG);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #d28239;
}

header a {
  cursor: pointer;
}

.logo {
  width: 30%;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: -webkit-transform 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: transform 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: transform 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8), -webkit-transform 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gradient-icon {
  background-color: #f3e9f1;
  background-image: -webkit-gradient(linear, left top, right top, from(#d28239), to(#9670e1));
  background-image: linear-gradient(90deg, #d28239, #9670e1);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  font-size: 1.4em;
}

.gradient-icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/* Footer */
footer {
  background-image: url(../texture.JPG);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  padding-top: 20px;
  border-top: 3px solid #d28239;
}

footer a {
  cursor: pointer;
}

/* Index */
#product-list {
  width: 100%;
  margin-top: 30px;
}

#product-list a {
  text-decoration: none;
}

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  width: 60%;
  border: 6px solid #f3e9f1;
  border-radius: 40px;
  cursor: pointer;
  background-color: #f3e9f1;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
}

.product-container:hover {
  -webkit-box-shadow: grey 0px 5px 15px;
          box-shadow: grey 0px 5px 15px;
}

.product-container h2 {
  color: #d28239;
}

.product-container p {
  text-align: center;
  color: #696969;
}

.product-container .price {
  font-weight: bold;
  font-size: larger;
  color: #d28239;
}

.product-container .price span {
  color: #696969;
}

.product-container img {
  height: 200px;
  width: 100%;
  border-radius: 0 0 34px 34px;
}

/* Product */
#product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

#product .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  text-align: center;
}

#product .product-info button {
  width: 50%;
}

#product img {
  width: 100%;
  height: 300px;
  margin: 20px;
}
/*# sourceMappingURL=main.css.map */